.phraseBox {
  border: solid black 2px;
  width: 50%;
  font-size: 20px;
}

#typeArea {
  height: 50px;
  width: 200px;
}

#car {
  position: relative;
}

img#flag {
  position: absolute;
  left: 750px;
}
