.gamePlay {
  margin-top: 5%;
  margin-left: 2%;
}

.name {
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

.highlighted {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

.phraseBox {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid black 2px;
  width: 50%;
  font-size: 20px;
}

#typeArea {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 50px;
  width: 200px;
}

#beginGame {
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  font-size: 36px;
  background-color: #e0dfdf;
  border: 4px solid #4caf50;
  border-radius: 5px;
}

/* Car animations */

#car {
  position: relative;
}

#nameFlag {
  position: absolute;
  margin-top: 33px;
  left: 765px;
}

img#flag, #flag2 {
  position: absolute;
  margin-top: 20px;
  left: 750px;
}

#road {
  z-index: -1;
  height: 50px;
  position: absolute;
  left: 0;
  margin-top: 140px;
}


.gameButton {
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  font-size: 36px;
  background-color: #d2ffad;
  border-radius: 5px;
  box-shadow: 0 7px #999;
}

.gameButtonDisabled {
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  font-size: 36px;
  color: grey;
  background-color: #97be77;
  border-radius: 5px;
  box-shadow: 0 7px #999;
  cursor: not-allowed;
}

.gameButton:hover {
  background-color: #97be77;
}
.gameButton:active {
  background-color: #97be77;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.stopButton {
  font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
  font-size: 36px;
  background-color: #f5a5a5;
  border-radius: 5px;
  box-shadow: 0 7px #999;
}
.stopButton:hover {
  background-color: #c07676;
}
.stopButton:active {
  background-color: #c07676;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

.countdown {
  width: 100%;
  text-align: center;
  color: red;
  font-size: 36px;
  font-weight: bold;

}

.stoplightred{
  height: 200px;
  width: auto;
  position: fixed;
  right:302px;
  clip: rect(0, 300px, 200px, 204px);
}
.stoplightyellow {
  height: 200px;
  width: auto;
  right:251px;
  position: fixed;
  clip: rect(0, 200px, 200px, 100px);
}
.stoplightgreen {
  height: 200px;
  width: auto;
  right:201px;
  position: fixed;
  clip: rect(0, 100px, 200px, 0);
}
