<div class="gamePlay">

  <h3>Player Name: {{childPlayerName}}</h3>
  <button (click)="newGame()" id="beginGame">Start Game!</button>
  <div class="activeGame" *ngIf="gameActive">
    <div class="phraseBox"> 
      <div [innerHTML]="phraseWithActiveWord"></div>
    </div>
    
    <div>
      <textarea id="typeArea" [(ngModel)]="typedWord" #typedText (keydown.space)="onSpaceDown(typedText.value)"></textarea>
    </div>
    
    <div class="stats">
      <h6>Errors: {{errorCount}}</h6>
      <h6>Time: {{time}}</h6>
      <h6>Words per minute: {{wpm}}</h6>
    </div>
  </div>
</div>