<div *ngIf="countingDown" class="countdown">
  <span *ngIf="countdown!==0">{{countdown}}</span>
  <span *ngIf="countdown==0">Go!</span>
  <br>
  <img [ngClass]="{'stoplightred':countdown>=2, 'stoplightyellow':countdown==1, 'stoplightgreen': countdown==0}" src="https://www.freemanhealth.com/assets/images/blog-article-images/traffic_lights.jpg">
</div>
<div class="gamePlay">

  <h3 class="name">Player Name: {{childPlayerName}}</h3>
  <button (click)="newGame()" class="gameButton" *ngIf="!gameActive&&!gameStopped">Start Game!</button>
  <button (click)="stopGame()" class="stopButton" *ngIf="gameActive||gameStopped">Stop</button>
  <button (click)="restart()" class="gameButton" *ngIf="gameStopped">New Game</button>
  
  <div class="phraseBox">
    <div [innerHTML]="phraseWithActiveWord"></div>
  </div>
  <div class="activeGame" *ngIf="gameActive||gameStopped">
    <div>
      <textarea [disabled]="countdown>0 ? 'true' : 'false'" id="typeArea" [(ngModel)]="typedWord" #typedText (keydown.space)="onSpaceDown(typedText.value)"></textarea>
    </div>

    <div class="stats">
      <h6>Errors: {{errorCount}}</h6>
      <h6>Time: {{time}}</h6>
      <app-stopwatch></app-stopwatch>
      <h6>Words per minute: {{wpm}}</h6>
    </div>

    <!--Car animation-->
    <img id="car" [ngStyle]="{'left': percentFinished}" src="../../assets/car.png" alt="racecar">
    <img id="road" src="../../assets/road.jpg" alt="">
    <img id="flag" src="../../assets/flag.svg" alt="flag">
    <span id='nameFlag'>
      {{childPlayerName}}
    </span>

    <br>
    <!--Car2  animation-->
    <img id="car2" [ngStyle]="{'left': percentFinished}" src="../../assets/car2.png" alt="racecar">
    <img id="road" src="../../assets/road.jpg" alt="">
    <img id="flag" src="../../assets/flag2.svg" alt="flag">

  </div>
</div>

<div>
  <button (click)="auto()">admin</button>
</div>