.header {
    background-color: #0132b9;
    height: 170px;
}

h1 {
    text-align: center;
    padding-top: 20px; 
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
    font-size: 80px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    color: white;
}

h4 {
    color:white;
    margin-right:40px;
    float:right;
}
.startGame {
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    font-family:  "Rockwell Extra Bold", "Rockwell Bold", monospace;
}

#startButton {
    margin-top: 5%;
    font-family:  "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 36px;
    background-color: #d2ffad;
    border-radius: 5px;
    box-shadow: 0 7px #999;
  }
  
  #startButton:hover {
    background-color: #97be77;
  }
  #startButton:active {
    background-color: #97be77;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
  }

#name {
    width: 100%;
    height: 60px;
    font-size: 30px;
}

.opponent {
    margin-top: 5%;
    
}

img {
    height: 100px;
    width: auto;
}

.row{
    margin-left: 300px;
}
