.startGame {

    font-family:  "Rockwell Extra Bold", "Rockwell Bold", monospace;
}
#startButton {
    font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;
    font-size: 36px;
    background-color: #d2ffad;
    border-radius: 5px;
    box-shadow: 0 7px #999;
}

.startGame{
    position: sticky;
    margin-top: -950px;
    margin-left: 180px;
}
img{
    width:100vw;
    height: 100vh;

}